/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    color: #141414;
    font-family: Optimist,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

a {
    color: rgb(0, 0, 238);
}
